navbar {
    background-color: lightgray;
  }
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      body {
        background-color: rgb(240, 238, 235)
      }

      div {
        padding-top: 2px;
      }
      
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(109, 58, 6);
        color: white;
        text-align: center;
      }
